.advantages {
    margin-bottom: var(--indentBlocks);
}
.advantages__container {
}
.advantages__box {
    padding: 24px;

    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    background-color: var(--color-gray-01);
    border-radius: var(--brs-grid);

    @media (max-width: $b992) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $b768) {
        padding: 16px;
    }

    @media (max-width: $b480) {
        grid-template-columns: 1fr;
    }
}
.advantages__item {
    padding: 16px;

    @media (max-width: $b768) {
        padding: 16px 0 0;

        &:nth-child(odd) {
            padding-right: 8px;
        }
        
        &:nth-child(even) {
            padding-left: 8px;            
        }
    }

    @media screen and (max-width: $b480) {
        &:nth-child(odd), &:nth-child(even) {
            padding: 0 0 16px 0;
        } 
    }
}
.advantages__title {
    margin-top: 0;
    margin-bottom: 8px;

    display: flex;
    align-items: center;
    gap: 4px;

    color: var(--color-accent);
}
.advantages__title-icon {
    margin-top: -4px;
    width: 16px;
    height: 16px;
}
.advantages__title-text {
}
.advantages__descr {
    p {
        &:first-child {
            margin-top: 0;
        }
    }
}