.bubbles {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-self: flex-start;
    gap: 16px;

    @media (max-width: $b768) {
        min-width: 100%;
        // margin-bottom: 16px;
        max-height: 92px;

        flex-wrap: nowrap;
        gap: 0;
        // overflow-x: auto;
    }
}



.bubbles__btn-box {
    display: none;
    position: relative;
    padding-bottom: 56px;

    width: 100%;

    @media screen and (max-width: $b768) {
        display: block;
    }
}

.bubbles__item {
    width: auto !important;
    height: auto !important;
}

.bubbles__link {
    padding: 10px 20px;
    display: block;
    white-space: nowrap;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background-color: #fff;

    transition: transform .25s;

    @media (max-width: $b480) {
        font-size: 14px;
    }

    &:hover {
        transform: translateY(-2px);
    }
}

.js-bubbles-list {
    width: 100%;
    min-width: 500px;
    
    border-radius: var(--brs);
    overflow: hidden;

    &.swiper {
        padding-bottom: 0;
        // padding-bottom: 96px;
    }

    @media screen and (max-width: $b768) {
        height: 38px;
    }

    @media (max-width: $b768) {
        min-width: auto;
    }
}