.footer {
    padding-top: 60px;
    padding-bottom: 110px;
    
    background-color: #151515;
    color: #fff;

    @media screen and (max-width: 480px) {
        padding-top: 32px;
        padding-bottom: 60px;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        gap: 60px;

        @media screen and (max-width: 480px) {
            gap: 32px;
        }
    }
}
.footer__container {
}
.footer_btns {
    display: flex;
    gap: 24px;

    @media screen and (max-width: 768px) {
        gap: 20px;
    }

    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
}
.footer_btns__item {
    margin-top: 0;
    min-width: 247px;
    background-color: #fff;

    font-size: 16px;
    line-height: 1.125;
    color: #151515;

    @media screen and (max-width: 768px) {
        width: 50%;
        min-width: initial;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}
.footer_btns__item--payment {
}
.btn {
}
.footer_btns__item-icon {
    width: 16px;
    height: 16px;
}
.footer_btns__item--phone {
}
.footer_links {
    display: flex;
    gap: 44px;

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
        gap: 60px 44px;
    }
    @media screen and (max-width: 960px) {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        gap: 0;
    }
}
.footer_links__col {
    display: flex;
    flex-direction: column;

    &:nth-of-type(5) {
        @media screen and (max-width: 992px) {
            width: 100%;
        }

        @media screen and (max-width: 960px) {
            width: auto;
        }

        @media screen and (max-width: 768px) {
            grid-column: 2 / 4;
        }

        @media screen and (max-width: 600px) {
            grid-column: 1 / 2;
        }
    }
}
.footer_col {
}
.footer_col__title {
    margin-bottom: 16px;
    @include h5;

    @media screen and (max-width: 600px) {
        margin-bottom: 0;
        padding-top: 17px;
        padding-bottom: 17px;

        position: relative;

        &::before {
            position: absolute;
            top: 50%;
            right: 0;
            width: 36px;
            height: 36px;
            content: '';
            transform: translateY(-50%);
            background-image: url(../img/icons/triangle.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px 16px;
            filter: brightness(0) invert(1);
        }

        &.active {
            &::before {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}
.footer_col__links {
    display: flex;
    flex-direction: column;
    gap: 16px;

    transition: height .25s, max-height .25s;

    @media screen and (max-width: 600px) {
        height: 0;
        overflow: hidden;

        &.active {
            display: flex;
            padding-left: 16px;
            padding-bottom: 16px;

            height: auto;
        }
    }
}
.footer_col__links-item {
    color: #fff;
    line-height: 1.125;

    .footer_col__links--bold & {
        @include h5;
    }

}
.footer_col__links--bold {
    margin-bottom: 44px;

    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    max-width: 300px;

    @media screen and (max-width: 600px) {
        padding-top: 17px;
    }

    @media screen and (max-width: 480px) {
        margin-bottom: 18px;
    }
}
.soc-btns {
    display: flex;
    gap: 8px;
}
.soc-btns_descr {
    margin-bottom: 8px;
}
.soc-btns_item {
    position: relative;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    background-color: #fff;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        // object-fit: cover
    }
}
.footer_awards {
    @include h5;

    @include resetFirstLastMargin;
}
.footer_awards__list {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 992px) {
        justify-content: space-between;
        gap: initial;
    }

    @media screen and (max-width: 600px) {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;    
        gap: 16px 0;
    }
}
.footer_awards__list-item {
    position: relative;
    height: 59px;
    width: 79px;

    @media screen and (max-width: 768px) {
        width: 66.95px;
        height: 50px;
    }

    img {
        @include img-abs;
    }
}
.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media screen and (max-width: 768px) {
        gap: 24px;
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 40px;
    }

    p {
        @include caption;
    }
}
.footer_bottom__col {
    @include resetFirstLastMargin;

    &:nth-of-type(1) {
        @media screen and (max-width: 768px) {
            width: 50%;
        }
        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }

    &:nth-of-type(2) {
        max-width: 326px;

        @media screen and (max-width: 768px) {
            max-width: initial;
            width: 50%;
        }
        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
}
.footer_bottom__offer {
    margin-bottom: 30px;
}
.footer_bottom__company {
}
.footer-company {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 6px 24px;
    // align-items: center;

    max-width: 490px;
}
.footer-company__logo {
    position: relative;
    width: 45.32px;
    height: 56px;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

    img {
        @include img-abs;
    }
}
.footer-company__copy {
    margin: 0;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    @include h6;
}
.footer-company__copy-descr {
    margin: 0;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.footer-rehau {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 16px;
    align-items: center;

    @include caption;

    @media screen and (max-width: 768px) {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }
}
.footer-rehau__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    position: relative;
    width: 72px;
    height: 24px;
    filter: brightness(0) invert(1);

    img {
        margin-top: -8px;
        @include img-abs;

        @media screen and (max-width: 768px) {
            margin-top: 0;
        }
    }
}
.footer-rehau__descr {
    margin: 0;
    margin-top: -8px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    @media screen and (max-width: 768px) {
        margin-top: 0;
    }
}
.footer-rehau__link {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    color: #fff;
    font-size: 0;

    @media screen and (max-width: 768px) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        height: 50px;
        
        @include h6;
        color: #151515;

        background-color: #fff;
        border-radius: 8px;


    }
}
.footer-rehau__qr {
    position: relative;
    height: 80px;
    width: 80px;

    @media screen and (max-width: 768px) {
        filter: brightness(0) invert(0);
        height: 16px;
        width: 16px;
    }

    img {
        @include img-abs;
    }
}