.full-width-img {
    position: relative;
    height: 400px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;

    @media screen and (max-width: $b480) {
        margin-bottom: 32px;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}