.header-bottom {
    padding-bottom: 20px;
}
.header-bottom__container {
}
.header-bottom__box {
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-bottom__partner {
}
.header-bottom__subsections {
}

