.location {
    display: flex;
    align-items: center;
    gap: 16px;
}
.location__city {
    display: flex;
    align-items: center;
    gap: 4px;
}

.location__city-icon {
    height: 16px;
    width: 16px;

    margin-top: -2px;
}

.location__city-name {
    @media (max-width: $b768) {
        font-size: 12px;
    }
}

.location__descr {
    @media (max-width: $b992) {
        margin-bottom: 16px;
        font-size: 12px;
    }
}