.top-menu {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: $b768) {
        // flex-wrap: wrap;
        width: 100%;
        // display: grid;
        justify-content: flex-start;
        // grid-template-columns: min-content min-content max-content;
        grid-template-columns: auto auto auto;
        gap: 4px 16px;
    }
}
.top-menu__item {

    @media (max-width: $b768) {
        color: var(--color-text);
        font-size: 12px;

        &:nth-child(3) {
            display: none;
        }

        &:nth-child(4) {
            display: none;
        }

    }

}
.top-menu__link {
    color: #fff;

    @media screen and (max-width: 768px) {
        color: #000;
    }

    &:hover {
        text-decoration: underline;
    }


}