@use "sass:math";

// Брейкпоинты

$b1400: 1400px;
$b1200: 1200px;
$b992: 992px;
$b800: 800px;
$b768: 768px;
$b640: 640px;
$b480: 480px;
$b330: 330px;


:root {

    // Цвета
    --color-text: #3E3E40; // цвет текста
    --color-main: #0265C2; // основной цвет
    --color-accent: #FF4545; // акцентный цвет
    --color-gray-01: #F4F4F4;
    --color-gray-02: #B4B4B4;
    --color-gray-03: #EAEAEA;

    // Шрифты
    --font-family: 'Bliss Pro', sans-serif; // 'Bliss Pro'
    --font-family-accent: 'Bliss Pro', sans-serif; // 'Calibri'
    --indexRatio: 1vh + 1vw;
    // Настройки

    // Скругления
    --brs: 8px;

    // Скругления элементов основной сетки
    --brs-grid: 16px;

    // Гап для основной сетки
    --mainGap: 24px;
    @media (max-width: $b768) {
        --mainGap: 16px;
    }

    // Отступы между блоками
    --indentBlocks: 60px;
    @media (max-width: $b768) {
        --indentBlocks: 60px;
    }
    @media (max-width: $b480) {
        --indentBlocks: 32px;
    }

    --heroMinCol: calc(100% / 5 - 3 / 4 * var(--mainGap));
    --heroMaxCol: calc((100% - var(--heroMinCol) - 3 / 4 * var(--mainGap)) / 3);
}