.buy
    .buy__top.buy-top
        .container.buy-top__container
            .buy-top__info
                .buy-top__title Заказать пластиковые окна
                .buy-top__descr Все наши пластиковые окна это всегда "ноу-хау" на рынке. Мы предлагаем свои заказчикам купить уникальную продукцию, которая и по общим характеристикам, и по эксплуатационным свойствам всегда лучше, чем окна ПВХ других производителей. Компания "Московские окна" занимается производством пластиковых окон с 1992 года: мы стояли у истоков в те времена и сейчас продолжаем задавать в Москве и в различных городах России тенденции, выпуская недорогие пластиковые окна нового поколения.
            ul.buy-top__bubbles.bubbles
                li.bubbles__item
                    a(href="#").bubbles__link Окна Рехау
                li.bubbles__item
                    a(href="#").bubbles__link Окна ПВХ
                li.bubbles__item
                    a(href="#").bubbles__link Стеклопакеты
                li.bubbles__item
                    a(href="#").bubbles__link Двери
                li.bubbles__item
                    a(href="#").bubbles__link Лоджии
                li.bubbles__item
                    a(href="#").bubbles__link Аксессуары
                li.bubbles__item
                    a(href="#").bubbles__link Рулонные шторы
                li.bubbles__item
                    a(href="#").bubbles__link Жалюзи на пластиковые окна
                li.bubbles__item
                    a(href="#").bubbles__link Металлопластиковые окна
                li.bubbles__item
                    a(href="#").bubbles__link Дорогие пластиковые окна
                li.bubbles__item
                    a(href="#").bubbles__link Готовые пластиковые окна

    .buy__bottom.buy-bottom
        .container.buy-bottom__container