.content
	.content__container.content-container
		h1.h1 Остекление квартиры

		.full-width-img
			img(src="img/content/full-width-img/01.jpg" srcset="img/content/full-width-img/01@2x.jpg 2x" alt="" loading="lazy")
			
		p Качественные современные оконные профили способны не только кардинально преобразить внешний вид квартиры, дома, но и обеспечивают достойный уровень тепло- и звукоизоляции помещения. За счет плотного прилегания створок и использования резинового уплотнителя они надежно защищают жилье от сквозняков и звуков с улиц.

		p Интернет-магазин «Московские окна» предлагает остекление квартиры под ключ с выгодной скидкой. Установим пластиковые окна любой конфигурации в жилых и коммерческих зданиях Москвы и Московской области. Для уточнения предложения свяжитесь с нашими менеджерами на сайте или по телефону.

		h2 Выберите тип квартиры,чтобы узнать стоимость остекления

		p Обратите внимание, что стоимость является предварительной, итоговая цена пластиковых окон и остекления квартиры под ключ может отличаться в зависимости от комплектации вашего заказа и соответствия оконных проёмов типовым.