.content
	.content__container.content-container.container
		h1.h1 Остекление квартиры

		.content__block
			.full-width-img
				img(src="img/content/full-width-img/01.jpg" srcset="img/content/full-width-img/01@2x.jpg 2x" alt="" loading="lazy")
			
		.content__block
			p Качественные современные оконные профили способны не только кардинально преобразить внешний вид квартиры, дома, но и обеспечивают достойный уровень тепло- и звукоизоляции помещения. За счет плотного прилегания створок и использования резинового уплотнителя они надежно защищают жилье от сквозняков и звуков с улиц.
			p Интернет-магазин «Московские окна» предлагает остекление квартиры под ключ с выгодной скидкой. Установим пластиковые окна любой конфигурации в жилых и коммерческих зданиях Москвы и Московской области. Для уточнения предложения свяжитесь с нашими менеджерами на сайте или по телефону.


		.content__block
			h2 Выберите тип квартиры,чтобы узнать стоимость остекления
			p Обратите внимание, что стоимость является предварительной, итоговая цена пластиковых окон и остекления квартиры под ключ может отличаться в зависимости от комплектации вашего заказа и соответствия оконных проёмов типовым.
			include ../includes/cost-shablonnaya

		.content__block
			h2 Преимущества остекления окнами ПВХ
			p Остекление квартиры — востребованная услуга как в старом жилом фонде, так и новом. Старые деревянные окна изначально плохо приспособлены к обеспечению теплоизоляции помещения. В них отсутствуют уплотнители, а из-за неправильно обработанной древесины они быстро сохнут, трескаются, гниют.
			p Современные пластиковые профили лишены всех этих недостатков. Новые ПВХ-профили защитят ваш дом от теплопотерь, позволят значительно сократить расходы на отопление.

		.content__block
			h2 Ключевые свойства окон ПВХ
			include ../includes/window-properties

		.content__block
			h2 Дополнительные опции для окон
			p По желанию заказчика, пластиковые окна могут быть выполнены в любом цвете, по умолчанию используется белый. Также популярна функция ламинирования — сделать ламинацию можно с одной или с обеих сторон. Ламинированная поверхность лучше противостоит загрязнениям, не боится механических повреждений.
