footer.footer
	.container.footer__container
		
		.footer_btns
			a(href="#").footer_btns__item.footer_btns__item--payment.btn
				svg.footer_btns__item-icon
					use(xlink:href='img/sprite.svg#payment')
				span Оплатить заказ
			a(href="#").footer_btns__item.footer_btns__item--phone.btn
				svg.footer_btns__item-icon
					use(xlink:href='img/sprite.svg#user')
				span Личный кабинет
		
		.footer_links
			.footer_links__col.footer_col
				span.footer_col__title Продукция
				.footer_col__links
					a(href="#").footer_col__links-item Пластиковые окна
					a(href="#").footer_col__links-item Пластиковые окна РЕХАУ
					a(href="#").footer_col__links-item Стеклопакеты
					a(href="#").footer_col__links-item Двери
					a(href="#").footer_col__links-item Фурнитура
					a(href="#").footer_col__links-item Готовые окна

			.footer_links__col
				span.footer_col__title Услуги
				.footer_col__links
					a(href="#").footer_col__links-item Остекление квартир
					a(href="#").footer_col__links-item Остекление балконов
					a(href="#").footer_col__links-item Отделка балконов
					a(href="#").footer_col__links-item Остекление офисов
					a(href="#").footer_col__links-item Остекление загородных домов
			.footer_links__col
				span.footer_col__title Цены и оплата
				.footer_col__links
					a(href="#").footer_col__links-item Калькулятор стоимости окон
					a(href="#").footer_col__links-item Цены на окна
					a(href="#").footer_col__links-item Цены на установку окон РЕХАУ
					a(href="#").footer_col__links-item Как купить
					a(href="#").footer_col__links-item Оплатить заказ
					a(href="#").footer_col__links-item Рассрочка
			.footer_links__col
				span.footer_col__title Компания
				.footer_col__links
					a(href="#").footer_col__links-item О компании
					a(href="#").footer_col__links-item Наше производство
					a(href="#").footer_col__links-item Отзывы клиентов
					a(href="#").footer_col__links-item Вакансии
					a(href="#").footer_col__links-item Контакты
			.footer_links__col
				.footer_col__links--bold
					a(href="#").footer_col__links-item Сертификаты
					a(href="#").footer_col__links-item Вопросы и ответы
					a(href="#").footer_col__links-item Политика конфидециальности

				p.soc-btns_descr Мы в соц сетях
				.soc-btns
					a.soc-btns_item(href="#")
						img(src="img/content/soc-btns/vk.svg", alt="")
					a.soc-btns_item(href="#")
						img(src="img/content/soc-btns/youtube.svg", alt="")
		.footer_awards
			p Наши награды
			ul.footer_awards__list
				li.footer_awards__list-item
					img(src="img/content/footer-awards/01.png", alt="")
				li.footer_awards__list-item
					img(src="img/content/footer-awards/02.png", alt="")
				li.footer_awards__list-item
					img(src="img/content/footer-awards/03.png", alt="")
				li.footer_awards__list-item
					img(src="img/content/footer-awards/04.png", alt="")
				li.footer_awards__list-item
					img(src="img/content/footer-awards/05.png", alt="")
				li.footer_awards__list-item
					img(src="img/content/footer-awards/06.png", alt="")
				li.footer_awards__list-item
					img(src="img/content/footer-awards/07.png", alt="")
				li.footer_awards__list-item
					img(src="img/content/footer-awards/08.png", alt="")

		.footer_bottom
			.footer_bottom__col
				p.footer_bottom__offer Все цены на сайте указаны с учетом действующих скидок и акций. Сайт не является публичной офертой и носит информационный характер.

				.footer_bottom__company.footer-company
					.footer-company__logo
						img(src="img/footer-logo.svg", alt="")
					p.footer-company__copy © 1992—2023 «Московские Окна»
					p.footer-company__copy-descr Права официального использования слова «Москва» письменно предоставлены  Межведомственной комиссией Правительства Москвы.

			.footer_bottom__col
				.footer-rehau
					.footer-rehau__logo
						img(src="img/rehau-logo.svg", alt="")
					p.footer-rehau__descr ООО «Московские окна» является сертифицированным производителем компании REHAU
					a.footer-rehau__link(href="#") 
						.footer-rehau__qr
							img(src="img/certificate.svg", alt="")
						| Сертификат