.header-bottom
    .container.header-bottom__container
        .header-bottom__box
            //- Сюда на js будет вставляться код


            //- img(src="img/rehau-partners.svg", alt="").header-bottom__partner(data-da="mobile-menu__partner,1,880")
            img(src="img/rehau-partners.svg", alt="").header-bottom__partner

        include ../includes/search-panel

        .subsections__btn.subsections-btn
            img(src="img/icons/list-ul.svg", alt="").subsections-btn__icon
            .subsections-btn__text Разделы страницы

        .header-bottom__subsections.subsections

            //- Сюда на js будет вставляться код