.header-top
    .container.header-top__container
        .header-top__location.location
            .location__city
                svg.location__city-icon
                    use(xlink:href='img/sprite.svg#location')
                span.location__city-name Москва
            .location__descr Пластиковые окна недорого в Москве — продажа и установка!
        ul.header-top__menu.top-menu
            li.top-menu__item
                a(href="#").top-menu__link О кмпании
            li.top-menu__item
                a(href="#").top-menu__link Доставка
            li.top-menu__item
                a(href="#").top-menu__link Оплатить онлайн
            li.top-menu__item
                a(href="#").top-menu__link Вакансии
            li.top-menu__item
                a(href="#").top-menu__link Контакты

