.mobile-menu
    .mobile-menu__wrapper
        .mobile-menu__box
            .mobile-menu__payment
            .mobile-menu__region
            .mobile-menu__main-menu
            .mobile-menu__secondary-menu
            .mobile-menu__top-menu
            .mobile-menu__account
        .mobile-menu__footer
            .mobile-menu__slogan
            .mobile-menu__partner

