.promo
    .container.promo__container

        .promo__block.promo-block

            .promo-block__header
                .promo-block__title Пластиковые окна для загородных домов
                .promo-block__btn.btn Заказать окна

            .promo-block__adv.promo-adv
                .promo-adv__item.promo-item
                    img(src="img/content/promo/01.svg", alt="").promo-item__icon
                    span.promo-item__title Новостройки на этапе заселения
                .promo-adv__item.promo-item
                    img(src="img/content/promo/02.svg", alt="").promo-item__icon
                    span.promo-item__title Вторичная недвижимость

            .promo-block__descr.promo-descr
                p Пластиковые окна – красивое и практичное решение для загородного строительства. Ведь они долговечны, отлично выдерживают перепады температуры и влажности, могут быть самой различной формы, и имеют множество возможностей для декорирования. Мы предлагаем установку окон ПВХ в самые различные типы домов: кирпичные, каркасные, дома из бруса или блоков.
