.window-properties

    .window-properties__item
        img.window-properties__icon(src="img/content/window-properties/01.svg", alt="")
        span.window-properties__title Отличная<br> теплоизоляция
    .window-properties__item
        img.window-properties__icon(src="img/content/window-properties/02.svg", alt="")
        span.window-properties__title Отличная<br> теплоизоляция
    .window-properties__item
        img.window-properties__icon(src="img/content/window-properties/03.svg", alt="")
        span.window-properties__title Отличная<br> теплоизоляция
    .window-properties__item
        img.window-properties__icon(src="img/content/window-properties/04.svg", alt="")
        span.window-properties__title Возможность изготовления нестандартных профилей
    .window-properties__item
        img.window-properties__icon(src="img/content/window-properties/05.svg", alt="")
        span.window-properties__title Дизайн окон универсальный, подходит под любой интерьер
    .window-properties__item
        img.window-properties__icon(src="img/content/window-properties/06.svg", alt="")
        span.window-properties__title Легкость ухода — достаточно протирать влажной тряпкой
    .window-properties__item
        img.window-properties__icon(src="img/content/window-properties/07.svg", alt="")
        span.window-properties__title Используемые материалы безвредны для окружающей среды