

//- внешний вид разделов страницы на мобильной версии
//- --++ панель поиска - частично. нужно поработать над позиционированием

//- ++++ мобильное меню - подкорректировать вид пунктов меню
//- ++++ рехау партнер на ПК очищается - пофиксить
//- ++++ выпадающие пункты в мобильном меню
//- ++++ панель с кнопками внизу
//- ++++ клонирование нужных списков из основного меню в панели второго и третьего уровней в зависимости от активности какого-то пункта
//- разделы страницы
//- ++++ на десктопе при прокрутке вниз разделы скрыть, а показать кнопку
//- ++++ по щелчку на кнопку показать разделы
//- ++++ на мобилке сразу показать кнопку

//- Важно!!! Если чистим папку dist, то после запуска сборщика нужно скопировать src/img/sprite.svg в dist/img/sprite.svg . Сборщик портит данный файл и спрайт некорректно отображается на сверстанной странице. Надо будет работу со спрайтами пофиксить.

include ../includes/mixins

//- Для pageType указать тип страницы
- var pageType = 'home';


//- home - главная страница
if pageType === 'home'
	include home

//- index - для показа верстки
if pageType === 'index'
	include verstka

