include ../includes/mixins

doctype html
html(lang="ru-RU")
	include ../includes/head
	body
		include ../includes/preloader
		include ../includes/header

		main
			include ../includes/content-shablonnaya
			//- include ../includes/hero-balkony
			//- //- include ../includes/cover-balkony
			//- include ../includes/types-work
			//- include ../includes/prices-work
			//- include ../includes/options-balkony
			//- include ../includes/examples-works-balkony
			//- include ../includes/buy-balkony
		include ../includes/footer
		include ../includes/btn-box
		include ../includes/mobile-menu
