@use "sass:math";

// Убираем margin-top у первого дочернего элемента и margin-bottom у последнего
@mixin resetFirstLastMargin {
	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin p-big {
	font-size: 20px;
	line-height: 1.3;
	
	@media (max-width: $b480) {
		font-size: 16px;
		line-height: 1.125;
	}
}

@mixin h3 {
	font-family: 'Calibri';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.08;

	@media (max-width: $b480) {
		font-size: 20px;
		line-height: 1.1;
	}
}

@mixin caption-caps {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	@media (max-width: $b480) {
		font-size: 12px;
		line-height: 1.17;
	}
}