@use "sass:math";

// Убираем margin-top у первого дочернего элемента и margin-bottom у последнего
@mixin resetFirstLastMargin {
	& > * {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@mixin img-abs {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@mixin p-big {
	font-size: 20px;
	line-height: 1.3;
	
	@media (max-width: $b480) {
		font-size: 16px;
		line-height: 1.125;
	}
}

@mixin h3 {
	font-family: 'Calibri';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.08;

	@media (max-width: $b480) {
		font-size: 20px;
		line-height: 1.1;
	}
}

@mixin h5 {
	font-family: 'Calibri';
	font-weight: 700;
	font-size: 18px;
	line-height: 1.11111;

	@media (max-width: $b480) {
		font-size: 16px;
		line-height: 1.12;
	}
}

@mixin h6 {
	font-family: 'Calibri';
	font-weight: 700;
	font-size: 16px;
	line-height: 1.125;

	@media (max-width: $b480) {
		font-size: 14px;
		line-height: 1.14286;
	}
}

@mixin caption {
	font-size: 14px;
	line-height: 1.14286;

	@media (max-width: $b480) {
		font-size: 12px;
		line-height: 1.16667;
	}
}

@mixin caption-caps {
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;

	@media (max-width: $b480) {
		font-size: 12px;
		line-height: 1.17;
	}
}